{%extends 'HoursCalc/layout.html'%}

{%block title%}
Add Hours
{%endblock%}

{%block content%}
<h2>Add Hours</h2>
<p>Add your hours here
	TODO:create a form that takes in hours sheet info
</p>
<form method="post">
	{% csrf_token %}
	<label for="job_name">Job Name:</label>
	<input type="text" id="job_name" class="job_name" name="job_name">
	<button type="submit" name="action" value="start">Start Timer</button>
	<label for="break_time">Break Time:</label>
	<input type="number" id="break_time" class="break_time" name="break_time" placeholder="0.0">
	<button type="submit" name="action" value="end">End Timer</button>
	<label for="user_notes">Notes:</label>
	<textarea  rows="5" cols="50" id="user_notes" name="user_notes">Notes...</textarea>


</form>
{%endblock%}